
:root {
    --bg-color: #faf5ef;
    --text-color: #000;
    --highlight-color: #5e5d5de1;
    --nav-bg-color: #faf5ef;
    --footer-bg-color: #333;
    --footer-text-color: #fff;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --border-radius: 10px;
    --transition-duration: 0.3s;
    --transition-ease: ease;
    --blur-intensity: 4px; 
    --pop-animation-duration: 0.8s;
    --fade-animation-duration: 1s;
}


body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background-color: var(--bg-color);
}


.navbar {
    background: var(--nav-bg-color);
    color: var(--text-color);
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 60%;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
}

.nav-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-list li {
    padding: 0 15px;
}

.nav-list li a {
    padding: 5px 20px; 
    text-decoration: none;
    color: inherit;
    transition: color var(--transition-duration) var(--transition-ease);
}

.nav-list li a:hover {
    color: var(--highlight-color);
}

.hero-container {
    display: flex;
    justify-content: center; 
    width: 100%; 
}

.hero {
    position: relative;
    width: 100%;
    height: 50vh; 
    overflow: hidden;
    border: 20px;
}

.hero-slides {
    display: flex;
    transition: transform var(--transition-duration) var(--transition-ease);
    height: 100%; 
}

.hero-slide {
    width: 100%;
    flex: 0 0 auto;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100%; 
    opacity: 0; 
    animation: popOutAnimation var(--pop-animation-duration) var(--transition-ease) forwards; 
}

@keyframes popOutAnimation {
    from {
        opacity: 0;
        transform: scale(0.8) translateY(-50%);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.hero-slide img {
    max-width: 100%; 
    max-height: 100%;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    z-index: 2;
}


.artwork-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; 
}

.artwork-slide {
    position: relative;
    display: inline-block;
}

.artwork-slide .label {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.artwork-slide:hover .label {
    opacity: 1;
}

.artwork-slide img {
    max-width: 100%; 
    max-height: 100%; 
    display: block; 
    margin: 0 auto; 
    transition: transform var(--transition-duration) var(--transition-ease); 
    border-radius: var(--border-radius);
}

.artwork-slide.active {
    opacity: 1; 
    transform: translateY(0); 
}

.artwork-slide:hover img {
    transform: scale(1.1); 
    filter: brightness(40%);
}

.artwork-carousel.visible {
    display: block;
}

.artwork-carousel img {
    max-width: 90%; 
    max-height: 75vh; 
    object-fit: cover; 
    margin-bottom: 100px; 
    transition: transform var(--transition-duration) var(--transition-ease), opacity var(--transition-duration) var(--transition-ease), filter var(--transition-duration) var(--transition-ease); /* Smooth transition for transformations and opacity changes */
    display: block;
}


.artwork-carousel img:first-of-type {
    margin-top: 80px; 
}

.hidden {
    display: none;
}
.fade-in {
    animation: fadeIn 1s forwards;
}
.fade-out {
    animation: fadeOut 1s forwards;
}
.enlarge {
    transform: scale(1.1); 
    transition: transform var(--transition-duration) var(--transition-ease);
}
.shrink {
    transform: scale(0.9); 
    transition: transform var(--transition-duration) var(--transition-ease);
}

    
